body{
    margin-left: -3px;
}

h1{
    color: white;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 10px;
    background-color: blue;
}

main{
    margin: 150px 400px;
}

.searchForm{
    height: 40px;
    display: flex;
    margin: 30px auto;
}

input{
    margin: 5px;
    border: solid blue;
    flex-grow: 6;
}

.searchField{
    margin: 0;
}

.searchButton{
    flex-grow: 1;
    margin: 0;
    cursor: pointer;
}

.reason{
    width: 100%;
    min-height: 90px;
}

th{
    font-size: larger;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 10px;
    background-color:blue;
    color: white;
}

a{
    color: inherit;
}

a:hover{
    text-decoration: none;
    color:hotpink;
}

.name{
    width: 100%;
}