body{
    margin: 100px 10%;
    font-size: larger;
    line-height: 3;
}

header{
    display: flex;
    justify-content: end;
    line-height: 1.5;
}

h1{
    display: grid;
    place-items: center;
    margin: 200px auto auto;
    font-size: xx-large;
}