body{
    margin: 100px 10%;
    font-size: larger;
    line-height: 3;
}

header{
    display: flex;
    justify-content: end;
    line-height: 1.5;
}

h1{
    display: grid;
    place-items: center;
    margin: 200px auto auto;
    font-size: xx-large;
}

.signature{
    display: flexbox;
}

.date{
    vertical-align: bottom;
    flex-grow: 4;
    margin-right: 50%;
}

.img_name{
    flex-grow: 1;
}

img{
    width: 160px;
    height: 100px;
}